@charset "utf-8";

body {
	background: #eec;
	text-align: center;
}
input,select {
	font-weight: bold;
	border: 1px solid;
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}
#canvas {
	border: 10px solid #999;
	cursor: crosshair;
	margin: 20px;
	background: #fff;
}
.thumbs {
	border: 2px solid #999;
	margin-right: 5px;
	width: 300px;
	background: #fff;
}